* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: white;
    background: linear-gradient(135deg, #011250, #124d9b, #8b1a23);
    min-height: 100vh;
}

.hero {
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

span{
    background-image: linear-gradient(to right, #ff4242, #ff7474, #ff4242);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.logo {
    width: 40px;
}

.content {
    text-align: center;
    padding: 30px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro{
    font-size: 25px;
}

.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.grid2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card {
    background:rgba(255, 255, 255, 0.192);
    backdrop-filter:blur(10px);
    padding: 20px;
    transition: 0.2s;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.347);
    
}

.card::before {
    content: "";
    position: absolute;
    inset: 15px;
    border: 1px solid rgba(255, 255, 255, 0.317);
    border-radius: 10px;
    pointer-events: none;
    transition: 0.3s;
}

.card:hover::before {
    border-color: rgba(255,255,255,0.6);
}

.card:hover {
    transform: scale(1.03);
    background:rgba(255, 255, 255, 0.486);
    transform: translateY(-5px);
    box-shadow: 0 0 35px rgba(255, 55, 0, 0.664);
}

.card img {
    width: 80%;
    margin: auto;
    display: block;
}

.card .card-text {
    margin-top: 4px;
    font-size: 30px;
    opacity: 0.8;
    color: aliceblue;
}

a{
        text-decoration: none;
}